@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin&family=Fredoka&family=League+Spartan&family=Lobster&family=Oswald:wght@200&family=Shippori+Antique+B1&display=swap');

/* Global CSS */
body{
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
.link-style{
    text-decoration: none;
    color: #000000;
}
.link-style:hover{
    color: #3f9c1a;
}
.flex{
    display: flex;
    align-items: center;
}
hr{
    border: 1px #d4dd7e solid;
}
/* TOP NAVBAR */
#top-navbar{
    justify-content: space-between;
    background-color: #e7eea5;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 7vh;
}
#navbar-menu{
    justify-content: space-between;
}
#right-side{
    justify-content: space-between;
}
.navbar-menu-option{
    margin-right: 2rem;
    list-style: none;
    font-size: 18px;
}
#top-navbar-input{
    border-radius: 5px;
    border: none;
    height: 3vh;
    width: 15vw;
    padding-left: 15px;
}
#top-navbar-button{
    border-radius: 8px;
    width: 5vw;
    height: 2vw;
    border: 1px #000000 solid;
    cursor: pointer;
}
#top-navbar-button:hover{
    background-color: #f7f7cf;
}
#logo{
    font-size: 40px;
}
/*TARJETAS*/
main{
    display: flex;
}

#info-partidos{
    padding: 2em;
    margin: 2em;
    background-color: #e7eea5;
    border-radius: 10px;
    text-align: center;
}
#info-partidos h1{
    font-size: 30px;
}
#info-partidos span{
    color: #ff0000;
}
.partidos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}
.partidos div{
    display: flex;
}
.partidos img{
    padding-left: 2em;
    padding-right: 2em;
    width: 100px;
}
#cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
}
.card{
    margin: 1em;
    padding: 10px;
}
.card-content{

    position: relative;
    display: inline-block;
    text-align: left;
    padding: 10px;
    transition: transform .5s;
}

/*INFORMACION DE LA TEJETA*/
.card-info {
    position: absolute;
    top: 160px;
    left: 20px;
    color: #ffff;
    
}
.card-info h2{
    font-size: 30px;
}
.card-info input{
    width: 50px;
    height: 25px;
    border-radius: 15px;/*
    border: none;*/
    background-color: #3f9c1a;
    color: #ffff;
    cursor: pointer;
}
.card-info input:hover{
    background-color: #e5ff00;
    color: #000000;
}

/*IMAGEN DE LA TARJETA*/
.card-content img{
    width: 380px;
    height: 330px;
    border-radius: 15px;
}

.card-content:hover{
    transform: scale(1.05);
    transition: transform .5s;
}

/*FOOTER*/
footer{
    background-color: rgb(231, 238, 165);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#FAQ{
    margin-left: 80px;
    display: flex;
}

#FAQ div{
    padding-right: 50px;
}

#icons{
    display: flex;
    margin-right: 80px;
}
#icons a{
    font-size: 50px;
    margin-left: 20px;
    color: #000000;
}


