@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin&family=Fredoka&family=League+Spartan&family=Lobster&family=Oswald:wght@200&family=Shippori+Antique+B1&display=swap');




/* Global CSS */
body{
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
.link-style{
    text-decoration: none;
}
.flex{
    display: flex;
    align-items: center;
}
/* TOP NAVBAR */
#top-navbar{
    justify-content: space-between;
    background-color: rgb(231, 238, 165);
    padding-left: 2rem;
    padding-right: 2rem;
    height: 7vh;
}
#navbar-menu{
    justify-content: space-between;
}
#right-side{
    justify-content: space-between;
}
.navbar-menu-option{
    margin-right: 2rem;
    list-style: none;
}
.navbar-menu-option:hover{
    color: #3f9c1a;
}
#top-navbar-input{
    border-radius: 5px;
    border: none;
    height: 3vh;
    width: 15vw;
}
#top-navbar-button{
    border-radius: 8px;
    width: 5vw;
    height: 2vw;
    border: 1px #000000 solid;
    cursor: pointer;
}
#top-navbar-button:hover{
    background-color: #f7f7cf;
}

/*TARJETAS*/
main{
    display: flex;
}

#Info-partidos{
    padding: 3em;
    margin: 1em;
    text-align: center;
    width: 350px;
    height: 660px;
    background-color: rgb(94, 87, 79);
    border-radius: 6px;
}

.partidos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    
}

.partidos img{
    padding: 2em;
    width: 80px;
}

.card{
    margin: 1em;
    padding: 10px;
 
}
.card-content{

    position: relative;
    display: inline-block;
    text-align: left;
    padding: 10px;
    
}

/*INFORMACION DE LA TEJETA*/
.card-info {
    position: absolute;
    top: 160px;
    left: 20px;
    color: #ffff;
    
}


.card-info h2{
    font-size: 30px;
}
.card-info input{
    width: 50px;
    height: 25px;
    border-radius: 15px;/*
    border: none;*/
    background-color: rgb(191, 20, 20);
    color: #ffff;
}

/*IMAGEN DE LA TARJETA*/
.card-content img{
    width: 380px;
    height: 330px;
    border-radius: 15px;
    transition: transform .5s;
}

.card-content img:hover{
    transform: scale(1.1);
}



/*FOOTER*/
footer{
    background-color: rgb(231, 238, 165);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#FAQ{
    margin-left: 80px;
    display: flex;
}

#FAQ div{
    padding-right: 50px;
}

#icons{
    display: flex;
    margin-right: 80px;
}
.icon{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
